{% extends 'base.html' %}

{% block header %}
    <h1> Group delete </h1>
{% endblock %}

{% block main %}
    <form method='post'>
        {% csrf_token %}
        <h3>Do you really want to delete {{ group.group_name }} ?</h3>

      <input type="submit" class="btn btn-danger" value="Delete">
      <a href="{% url 'list_groups' %}" class="btn btn-light">Cancel</a>
    </form>

{% endblock %}
