{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <h1> Edit group </h1>
{% endblock %}

{% block main %}

    <form method='post'>
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="btn btn-success" value="Update">
    </form>
    <br>
    <h4>Group's students</h4>

<!--    {% with students=group.students.all %}-->
        {% include 'includes/students-table.html' %}
<!--    {% endwith %}-->

    <br>
    <h4>Group's teachers</h4>
    {% with teachers=group.teachers.all %}
        {% include 'includes/teacher-table.html' %}
    {% endwith %}


{% endblock %}