{% extends 'base.html' %}

{% block header %}
    <h1> Group list </h1>
{% endblock %}

{% block main %}

    <table class="table table-striped table-hover">
        <tr>
            <th>Group name</th>
            <th>Headman</th>
            <th>Course name</th>
            <th>✎</th>
            <th>🗑</th>
        </tr>

        {% for group in groups %}

              <tr>
                <td>{{ group.group_name }}</td>
                <td>{{ group.headman }}</td>
                <td>{{ group.course.course_name }}</td>
                <td><a href='{% url "update_groups" group.id %}'>UPDATE</a></td>
                <td><a href='{% url "delete_groups" group.id %}'>DELETE</a></td>
              </tr>
        {% endfor %}

    </table>

    {% include 'includes/paginator.html' %}


{% endblock %}