{% extends 'base.html' %}

{% block header %}
    <h1> Add group </h1>
{% endblock %}

{% block main %}
    <form method='post'>
        {% csrf_token %}
        {{form.as_p}}

      <input type="submit" value="Create">
    </form>
{% endblock %}