{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <h1> Login to LMS </h1>
{% endblock %}

{% block main %}
    <form method='post'>
      {% csrf_token %}
      {{form|crispy}}

      <input type="submit" value="Login">
    </form>
{% endblock %}
