{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <h1> Account update </h1>
{% endblock %}

{% block main %}
    <form method='post' enctype="multipart/form-data">
      {% csrf_token %}

        <div class="media">
            <div class="img-circle.vert">
                <img class="rounded-circle p-1 m-1" width="200" height="200"  src="{{ user.profile.image.url }}">
            </div>
            <div class="media-body  p-3 m-3">
                <h2 class="account-heading">{{ user.username }}</h2>
                <h3 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h3>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>

      {{user_form|crispy}}
      {{profile_form|crispy}}

      <input type="submit" value="Save">
    </form>
{% endblock %}
