{% extends 'base.html' %}

{% block main %}

    <a href="{% url 'list_students'%}" style="font-size: 22px">Students</a>
    <br>
    <a href="{% url 'list_groups'%}" style="font-size: 22px">Groups</a>
    <br>
    <a href="{% url 'list_teachers'%}" style="font-size: 22px">Teachers</a>

{% endblock %}
