{% extends 'base.html' %}

{% block header %}
    <h1> Student delete </h1>
{% endblock %}

{% block main %}

    <form method='post'>
        {% csrf_token %}
        <h3>Do you really to delete {{ student.first_name }} {{ student.last_name }}?</h3>

      <input type="submit" class="btn btn-danger" value="Delete">
      <a href="{% url 'list_students' %}" class="btn btn-light">Cancel</a>
    </form>

{% endblock %}
