{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block header %}
    <h1> Student list </h1>
{% endblock %}

{% block main %}
    <form method='get'>

        {{ filter.form|crispy }}

      <input type="submit" value="Search" class="btn btn-secondary">
      <a href="{% url 'list_students' %}" class="btn btn-secondary">Reset</a>
    </form>

<!--    {% with students=object_list %}-->
        {% include 'includes/students-table.html' %}
        {% include 'includes/paginator.html' %}
<!--    {% endwith %}-->

{% endblock %}