<table class="table table-striped table-hover">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Age</th>
            <th>✎</th>
            <th>🗑</th>
        </tr>

        {% for teacher in teachers %}

              <tr>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.age }}</td>
                <td><a href='{% url "update_teachers" teacher.id %}'>UPDATE</a></td>
                <td><a href='{% url "delete_teachers" teacher.id %}'>DELETE</a></td>
              </tr>
        {% endfor %}
</table>