{% load mathfilters %}

<table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Group</th>
            <th>Head of the group</th>
            <th>✎</th>
            <th>🗑</th>
        </tr>

        {% for student in students %}
        {% with res=page_obj.number|sub:1 %}
        {% with res2=page_obj.paginator.per_page|mul:res %}

              <tr>
                <td>{{ forloop.counter|add:res2 }}</td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.group.group_name }}</td>
                <td>{{ student.headed_group }}</td>
                <td><a href='{% url "update_students" student.id %}'>UPDATE</a></td>
                <td><a href='{% url "delete_students" student.id %}'>DELETE</a></td>
              </tr>
        {% endwith %}
        {% endwith %}
        {% endfor %}
</table>