{% extends 'base.html' %}

{% block header %}
    <h1> Classroom list </h1>
{% endblock %}

{% block main %}

    <table class="table table-striped table-hover">
        <tr>
            <th>Classroom name</th>
            <th>✎</th>
            <th>🗑</th>
        </tr>

        {% for class in classroom %}

              <tr>
                <td>{{ class.classroom_num }}</td>
                <td><a href='{% url "update_classroom" class.id %}'>UPDATE</a></td>
                <td><a href='{% url "delete_classroom" class.id %}'>DELETE</a></td>
              </tr>
        {% endfor %}

    </table>

{% endblock %}