{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <h1> Edit group </h1>
{% endblock %}

{% block main %}

    <form method='post'>
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="btn btn-success" value="Update">
    </form>

{% endblock %}